.banner_main {
  position: relative;
}

.banner .carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: #000;
}

.banner .carousel-indicators .active {
  background-color: #fe0000;
}

.banner_text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.stewart span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 44px;
  line-height: 35px;
  color: #fff;
  display: block;
  padding-bottom: 24px;
}

.stewart h1 {
  padding-bottom: 35px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 111px;
  line-height: 90px;
  color: #fff;
}

.stewart p {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #fff;
}

.stewart .read_more {
  max-width: 205px;
  height: 53px;
  padding: 10px 0;
  color: #fff !important;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #00274a;
}

.stewart .read_more:hover {
  background-color: #121212;
}

#myCarousel a.carousel-control-next,
#myCarousel a.carousel-control-prev {
  top: 80%;
  background: #111;
  opacity: 1;
  font-size: 30px;
  width: 69px;
  color: #fff;
  height: 68px;
  border-radius: 50%;
}

#myCarousel a.carousel-control-next:focus,
#myCarousel a.carousel-control-next:hover,
#myCarousel a.carousel-control-prev:focus,
#myCarousel a.carousel-control-prev:hover {
  background: #fff;
  color: #111;
}

#myCarousel a.carousel-control-prev {
  position: absolute;
  left: 8%;
}

#myCarousel a.carousel-control-next {
  position: absolute;
  right: 81%;
}

.carousel-indicators {
  display: none;
}


/** end banner section **/

.titlepage {
  text-align: center;
  padding-bottom: 40px;
}

.titlepage h2 {
  font-size: 40px;
  color: #191919;
  line-height: 45px;
  font-weight: 500;
  padding: 0;
  display: inline-block;
}

.titlepage h2::before {
  position: relative;
  content: "";
  background-color: #00274a;
  width: 100px;
  height: 5px;
  top: 55px;
  display: block;
  margin: 0 auto;
  margin-right: 0;
}

.d_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.read_more {
  font-size: 17px;
  background-color: #191919;
  color: #fff;
  padding: 8px 0px;
  width: 100%;
  max-width: 168px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
  font-weight: 500;
  border-radius: 15px;
  margin-top: 50px
}

.read_more:hover {
  background: #00274a;
  color: #fff;
  transition: ease-in all 0.5s;
}


/** about section **/

.about {
  background-color: #fff;
  padding-top: 80px;
}

.about .titlepage {
  text-align: left;
  padding-bottom: 0;
  max-width: 443px;
  width: 100%;
  float: right;
}

.about .titlepage h2 {
  margin-bottom: 25px;
}

.about .titlepage p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #090808;
}

.about_img {
  overflow: hidden;
}

.about_img figure {
  margin: 0;
}

.about_img figure img {
  width: 100%;
  transition: all .5s;
}

.about_img figure img:hover {
  transform: scale(1.2);
}


/** end about section **/


/** services section **/

.services {
  background-color: #00274a;
  padding: 60px 0 30px 0;
  margin-top: 90px;
}

.services .titlepage {
  text-align: center;
}

.services .titlepage h2 {
  color: #fff;
}

.services .titlepage h2::before {
  background-color: #000000;
}

.services .titlepage p {
  color: #fff;
  font-size: 17px;
  margin-top: 25px;
  font-weight: 400;
}

.se_img {
  text-align: center;
  background-color: #000;
  margin-bottom: 30px;
}

.se_img figure {
  margin: 0;
}

.se_img figure img {
  width: 100%;
  transition: all .5s;
}

.se_img figure img:hover {
  opacity: 0.5;
  cursor: pointer;
}


/** end services section **/


/** latest news **/

.latest {
  padding-top: 80px;
}

.latest .titlepage p {
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  padding-top: 25px;
}

.news_img figure {
  margin: 0;
}

.news_img figure img {
  width: 100%;
}


/** end latest news **/


/** trainers section **/

.trainers {
  background: url(/images/tra_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 60px 0 30px 0;
  margin-top: 60px;
}

.trainers .titlepage {
  text-align: center;
}

.trainers .titlepage h2 {
  color: #fff;
}

.trainers .titlepage h2::before {
  background-color: #fff;
}

.trainers .titlepage p {
  color: #fff;
  font-size: 17px;
  margin-top: 25px;
}

.trainers .trainer_box {
  text-align: left;
  margin-bottom: 30px;
  transition: ease-in all 0.5s;
}

.trainers .trainer_box .trainer_img {
  overflow: hidden;
}

.trainers .trainer_box .trainer_img figure {
  margin: 0;
}

.trainers .trainer_box .trainer_img figure img {
  width: 100%;
  transition: all .5s;
}

.trainers .trainer_box .trainer_img figure img:hover {
  transform: scale(1.2);
}

.trainers .trainer_box .trainer {
  padding: 33px 30px;
  text-align: center;
}

.trainers .trainer_box .trainer h3 {
  color: #fff;
  font-size: 25px;
  line-height: 20px;
  font-weight: 500;
  padding-bottom: 20px;
  text-transform: uppercase;
  transition: ease-in all 0.5s;
  margin: auto;
}

.trainers .trainer_box .trainer p {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  transition: ease-in all 0.5s;
}

#trai:hover.trainer_box {
  background-color: #fff;
  transition: ease-in all 0.5s;
}

#trai:hover .trainer h3 {
  color: #00274a;
  transition: ease-in all 0.5s;
}

#trai:hover .trainer p {
  color: #000000;
  transition: ease-in all 0.5s;
}


/** end trainers section **/


/** gallery  section **/

.gallery {
  background-color: #00274a;
  margin-top: 80px;
  padding: 60px 0 30px 0;
}

.gallery .titlepage h2 {
  color: #fff;
}

.gallery .titlepage h2::before {
  background-color: #000;
  top: 65px;
}

.gallery .titlepage p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  margin-top: 30px;
}

.gallery .gallery_box {
  overflow: hidden;
  margin-bottom: 30px;
  transition: ease-in all 0.4s;
}

.gallery .gallery_img :hover {
  transform: scale(1.2);
  transition: ease-in all 0.3s;
}

.gallery .gallery_img {
  width: 100%;
  transition: ease-in all 0.3s;
  margin-bottom: 30px;
  display: block;
  overflow: hidden;
}

.gallery .gallery_img img {
  width: 100%;
  transition: ease-in all 0.3s;
  display: block;
}


/** end gallery  section **/


/** contact section **/

.contact {
  background: #fff;
  padding-top: 80px;
}

.contact .titlepage {
  text-align: left;
  padding-bottom: 48px;
}

.main_form .contactus {
  padding: 0 15px;
  margin-bottom: 25px;
  width: 100%;
  height: 50px;
  background: #fff;
  color: #00274a;
  font-size: 16px;
  font-weight: normal;
  border-radius: 10px;
  border: #0f98f8 solid 1px;
}

.main_form .textarea {
  border: #fff solid 1px;
  margin-bottom: 25px;
  width: 100%;
  background: #fff;
  color: #00274a;
  font-size: 16px;
  font-weight: normal;
  padding: 12px 15px 0 15px;
  border-radius: 10px;
  border: #0f98f8 solid 1px;
  height: 122px;
}

.main_form .send_btn {
  font-size: 18px;
  transition: ease-in all 0.5s;
  background-color: #191919;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 0px;
  max-width: 168px;
  width: 100%;
  display: block;
  margin-top: 10px !important;
  font-weight: 500;
  border-radius: 10px;
}

.main_form .send_btn:hover {
  background-color: #00274a;
  transition: ease-in all 0.5s;
  color: #fff;
}

#request *::placeholder {
  color: #00274a;
  opacity: 1;
}


/** end contact section **/
